# ─── Hindsight Cloud ─────────────────────────────────────────────────────────
# Sign up at https://ui.hindsight.vectorize.io — apply promo code MEMHACK409
HINDSIGHT_API_KEY=hsk_be7c33db0f600ccf222ee1a5cb577e53_9b5acdf623bdda47
HINDSIGHT_BASE_URL=https://api.hindsight.vectorize.io

# ─── Groq ─────────────────────────────────────────────────────────────────────
# Free API key at https://console.groq.com
GROQ_API_KEY=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

# ─── Server ──────────────────────────────────────────────────────────────────
PORT=3001
NODE_ENV=development
